:root{
    --DarkWine: #670f22;
    --Wine: #6A041A;
    --OldWine: #9A0526;
    --RedWine: #AB0D2F;
    --RoseWine: #CD0C36;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    color:black;
    text-decoration: none;
    list-style: none;
}
body{

    background-image: url('../image/Background.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}
/* Header */
.header{
    background-color: var(--OldWine);
    padding-bottom: 7px;
    padding-top: 5px;
}
.main-header{
    padding: 0;
}
.main-header .header .search{
    display: inline;
}
.main-header .header .seacrh .main-search{
    color: var(--DarkWine);
    text-align: center;
}
 
.main-header .toggle-nav span{
    color:white;
    position: relative;
    display: inline;
}
.main-header .main-user {
    background-color: var(--RoseWine);
    position: relative;
    display: inline;
    border-radius: 100%;
}
.main-header .main-user i {
    color: va(--Wine);
    font-size: 20px;
    border-radius: 50%;
}

/* Navegacion */
.main-header .main-nav li{
    background-color: var(--OldWine);
    width: 75px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-align: center;
    margin: 0 auto 1px;
}
.main-header .main-nav li a{
    color: white;
}